<form method="POST" action="table">
  <p>True symbol: <input type="text" name="true"></p>
  <p>False symbol: <input type="text" name="false"></p>
  <p>Size (2^x): <input type="text" name="size"></p>
  <input type="submit" value="Show truth table">
</form>
<a href='/'>Reload page</a>