<h1>Error</h1>
<div id='error_values'>
Invalid parameters.
<br>
Please enter:
<br>
1. A single-character true symbol.
<br>
2. A single-character false symbol.
<br>
3. A size greater than or equal to 2.
<br>
4. Different character for the true and false symbols.
<br>
</div>
<a href='/' name="return">Back Home</a>