<h1>Error</h1>
Invalid parameters.
<br>
Please enter:
<br>
&nbsp;&nbsp;&nbsp;&nbsp;1. A single-character true symbol.
<br>
&nbsp;&nbsp;&nbsp;&nbsp;2. A single-character false symbol.
<br>
&nbsp;&nbsp;&nbsp;&nbsp;3. A size greater than or equal to 2.
<br>
&nbsp;&nbsp;&nbsp;&nbsp;4. Different character for the true and false symbols.
<br>
<a href='/'>Back Home</a>