<h1>Error</h1>
Invalid parameters.
<br>
Please enter:
	1. A single-character true symbol.
	2. A single-character false symbol.
	3. A size greater than or equal to 2.
	4. Different character for the true and false symbols.
<a href='/'>Back Home</a>